@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300,400,500");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

.vitae {
  background: white;
  margin-top: 7rem;
  position: relative; }
  .vitae-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120rem; }

.header {
  position: relative;
  background: #F0EBE8; }
  .header .brand-box {
    padding-top: 5rem; }

.brand {
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  height: calc(20rem + 20rem/2);
  width: calc(20rem * 2); }

.square {
  height: 20rem;
  width: 20rem;
  background: #B8A49A;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  .square__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 4px;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
    .square__title_color_light {
      color: #F0EBE8; }
    .square__title_color_dark {
      color: #B8A49A; }
  .square_position_default {
    position: absolute;
    top: 0%;
    left: 0%; }
  .square_position_bottom {
    position: absolute;
    top: 0%;
    transform: translate(50%, 50%);
    background: #6E6561; }
  .square_position_right {
    position: absolute;
    top: 0%;
    transform: translateX(100%); }

.corner {
  position: absolute;
  width: 8rem;
  height: 8rem; }
  .corner_position_left {
    top: 0;
    left: 0;
    border-left: 1.2rem solid #B8A49A;
    border-top: 1.2rem solid #B8A49A; }
  .corner_position_right {
    top: 0;
    right: 0;
    border-right: 1.2rem solid #B8A49A;
    border-top: 1.2rem solid #B8A49A; }
