@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300,400,500");
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

.vitae {
  background: #F0EBE8;
  margin-top: 2rem;
  padding: 0rem 25rem;
  position: relative; }

.header {
  left: 50%;
  height: calc(20rem + 20rem/2); }

.square {
  height: 20rem;
  width: 20rem;
  background: #B8A49A;
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%); }
  .square__title {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 4px;
    color: #F0EBE8;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%; }
  .square_position_default {
    position: relative; }
  .square_position_bottom {
    position: absolute;
    transform: translate(50%, -50%); }
  .square_position_right {
    position: absolute;
    top: 0%;
    transform: translateX(100%); }
