
.vitae {

    background: $white;
    margin-top: 7rem;
    position: relative;

    &-box {

      position: absolute;
      @include x-axis-center-alignment;
      width: $vitae-box;
      // height: 150vh;
    }
}

.header {

  position: relative;
  background: $color-secondary-light-1;

  .brand-box {

    padding-top: 5rem;
  }
}

.profile {

  background: $color-secondary-light-2;
  padding: $content-padding $content-padding 0 $content-padding;
}

.education {

  background: $color-secondary-light-2;
  padding: $content-padding $content-padding 0 $content-padding;
}

.skills {

  background: $color-secondary-light-2;
  padding: $content-padding $content-padding 0 $content-padding;
}

.footer {

  background: $color-secondary-light-2;
  position: relative;
  height: 18rem;
  margin-bottom: 7rem;

  a {
    position: absolute;
    @include center-alignment;
  }

  img {
    height: 4rem;
  }
}
