
.vitae {
    background: $white;
    margin-top: 7rem;
    position: relative;

    &-box {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: $vitae-box;
    }
}

.header {

  position: relative;
  background: $color-secondary-light;

  .brand-box {

    padding-top: 5rem;
  }
}
