
$corner-side: 8rem;
$corner-width: 1.2rem;

.corner {

  position: absolute;
  width: $corner-side;
  height: $corner-side;

  &_position_left {
    top: 0;
    left: 0;
    border-left: $corner-width solid $color-primary;
    border-top: $corner-width solid $color-primary;
  }

  &_position_right {
    top: 0;
    right: 0;
    border-right: $corner-width solid $color-primary;
    border-top: $corner-width solid $color-primary;
  }
}
