@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Gugi');
 @import url('https://fonts.googleapis.com/css?family=Lobster');

body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
}
