@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway:300');
@import url('https://fonts.googleapis.com/css?family=Gugi');
@import url('https://fonts.googleapis.com/css?family=Lobster');
 @import url('https://fonts.googleapis.com/css?family=Great+Vibes');

body {
    font-family: "Source Sans Pro", sans-serif;
    color: $dark-ash;
    font-weight: 400;
    font-size: 1.7rem;
}
