
// https://www.design-seeds.com/seasons/winter/color-route/
// https://www.design-seeds.com/tag/deep-sepia/page/2/

$ebony-clay: lighten(#1E2833, 8%);
$athens-grey: #E5E7EE;

$schooner: lighten(#948780, 8%);
$shark: #262830;

// header

$header-height: 25rem;
