// https://www.design-seeds.com/seasons/autumn/harvest-tones/

$color-primary: #B8A49A;
$color-primary-light: #CFC1B8;

$color-secondary: #E6E0DA;
$color-secondary-light: #F0EBE8;

$color-tertiary: #6E6561;

// E6EAEE
$white: white;

// vitae

$vitae-box: 120rem;

// header

$header-height: 20rem;
